lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

photon-0.1.2-alpha

src/lib-cov
src/*.seed
src/*.log
src/*.csv
src/*.dat
src/*.out
src/*.pid
src/*.gz
src/
src/pids
src/logs
src/results
src/
src/node_modules
src/npm-debug.log
